* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
}

main > section {
    width: 50%;
}

input {
    display: flex;
}

h3{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-self: flex-start;
}

.text-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text-body > a {
    width: 418px;
    height: 36px;
    background-color: #3EB25E;
    border-radius: 35px;
    line-height: 36px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin-bottom: 14px;
    align-self: flex-start;
}

.text-body >  .back-next > a:hover {
    background-color: #FFFF7D;
    color: black;
}

a:hover {
    background-color: #FFFF7D;
    color: black;
}

input {
    width: 459px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.25);
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    text-align: left;
    align-self: flex-start;
}

input:hover {
    border: 1px solid rgba(71, 82, 66, 1);
}

input:focus {
    outline: 0;
}

#age {
    margin-bottom: 44px;
}