* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
    height: 100vh;
    align-items: center;
}

main>div {
    width: 100%;
    display: flex;
}

main>div>section {
    width: 50%;
}

h3 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    align-self: flex-start;
}

.text-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.status {
    background-image: url("../images/arrow.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: center;
    font-size: 27px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    height: 42px;
    padding-left: 10%;
    width: 37vw;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: ellipsis;
    align-self: flex-start;
    margin-top: 8px;
    margin-bottom: 29px;
}

.status:hover {
    background-image: url(../images/arrow-hover.png);
    border: 1px solid rgba(71, 82, 66, 1);
}

.status:focus {
    outline: 0;
}

.text-body>a {
    display: inline-block;
    width: 418px;
    height: 36px;
    background-color: #3EB25E;
    border-radius: 35px;
    line-height: 36px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    color: white;
    align-self: center;
}

.text-body>a {
    width: 199px;
    height: 36px;
    background-color: #3EB25E;
    border-radius: 35px;
    line-height: 36px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.text-body>ol {
    text-decoration: none;
}

ol {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: left;
    font-family: Roboto;
    font-size: 26px;
    margin-bottom: 32px;
    margin-left: 50px;
}

[type="checkbox"] {
    opacity: 0;
}

[type="checkbox"]+label {
    position: relative;
}


[type="checkbox"]+label::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    height: 26px;
    width: 26px;
    background: rgba(62, 178, 94, 0.3);
    left: -50px;
}

[type="checkbox"]:checked+label::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    height: 26px;
    width: 26px;
    background: rgba(62, 178, 94, 1);
    left: -50px;
}

.text-body>.back-next{
    align-self: flex-start;
}
.text-body>.back-next>a {
    display: inline-block;
    width: 199px;
    height: 36px;
    background-color: #3EB25E;
    border-radius: 35px;
    line-height: 36px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    color: white;
    align-self: flex-start;
    margin-bottom: 15px;
}

.text-body>.skip > a{
    display: inline-block;
    width: 418px;
    height: 36px;
    background-color: #3EB25E;
    border-radius: 35px;
    line-height: 36px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    color: white;
    margin-bottom: 15px;
}

.text-body>.skip{
    align-self: flex-start;
}

a:hover {
    background-color: #FFFF7D;
    color: black;
}

.text-body>.back-next>a {
    display: inline-block;
    width: 199px;
    height: 36px;
    background-color: #3EB25E;
    border-radius: 35px;
    line-height: 36px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    color: white;
    align-self: flex-start;
    margin-bottom: 15px;
}

.text-body>.back-next>a:hover {
    background-color: #FFFF7D;
    color: black;
}


a+a {
    margin-top: 20px;
    margin-left: 27px;
}