* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    margin: 0 auto;
    max-width: 1280px;
    display: flex;
}

main > section {
    width: 50%;
}

.image-container {
    display: flex;
    justify-content: flex-end;
}

.image-container > img {
    max-width: 431px;
}

.text-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.text-body> h1 {
    font-size: 111px;
    font-weight: 700;
    font-family: Roboto;
    margin-bottom: 44px;
}

.text-body > h2 {
    font-size: 29px;
    font-weight: 700;
    font-family: Roboto;
    margin-bottom: 70px;
}

.text-body > a {
    width: 199px;
    height: 36px;
    background-color: #3EB25E;
    border-radius: 35px;
    line-height: 36px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    color: white;
}

.text-body > a > .hover {
    display: none;
}

a:hover {
    background-color: #FFFF7D;
    color: black;
}

@media (max-width: 1280px) {
    main {
        flex-direction: column;
    }
    
    main > div {
        width: 100%;
    }
    
    .welcome > h1 {
        font-size: 53px;
        line-height: 62px;
    }
}