*{
    box-sizing: border-box;
}

/* main>div {
    width: 50%;
    display: flex;
} */


.wrapper {
    display: grid;
    grid-template-columns: 50% 50%
}



.box {
  border: 1px solid black; 
}

/*.image-container>img {
    max-width: 553px;
}  */


div {
    width: 100%;
    padding: 0 20px;
    justify-content: space-between;
}

h2 {
    width: 473px;
    height: 101px;
    line-height: 46px;
    font-size: 39px;
    font-weight: 700;
    font-family: Roboto;
    margin-bottom: 28px;
}

p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 28px;
    width: 443px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 20px;
}

div>a {
    display: inline-block;
    width: 199px;
    height: 36px;
    background-color: #3EB25E;
    border-radius: 35px;
    line-height: 36px;
    font-family: Roboto;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    color: white;
}

a:hover {
    background-color: #FFFF7D;
    color: black;
}

.text-body>div>a:hover {
    background-color: #FFFF7D;
    color: black;
}